@import "./scss/Variables.scss";

.container {
  max-width: 1440px;
  @include displayFlex;
  @include flexDirectionColumn;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  margin: 45px auto 0 auto;
  @media screen and (max-width: 375px) {
    margin: 0;
  }

  header {
    @include displayFlex;
    max-width: 1240px;
    height: 68px;
    width: 100%;
    align-items: center;
    margin: 0 100px;
    @include screenMax768 {
      margin: 0 20px;
    }
     @include screenMax375 {
      max-width: 335px;
    } 
  }

  main {
    max-width: 1240px;
    width: 100%;
    @include displayFlex;
    @include flexDirectionColumn;
    align-items: center;
    margin: 0 100px;
    @include screenMax768 {
      margin: 0 20px;
    }
    @include screenMax375 {
      max-width: 335px;
    } 
  }

  footer {
    @include flexContentCenter;
    @include flexDirectionColumn;
    gap: 28.56px;
    height: 209px;
    background-color: $color000;
    bottom: 0;
    @include screenMax768 {
      padding: 20px;
    }
  }

}
