@import "./Variables.scss";

.cards-container {
  @include flexContentCenter;
  flex-wrap: wrap;
  gap: 4.5rem;
  padding: 50px;
  margin: 2rem;
  border-radius: 25px;
  background-color: $colorF6f6f6;
  @include screenMax1240 {
    gap: 25px;
    padding: 25px 15px;
  }
  @include screenMax768 {
    background-color: $colorFff;
  }
  @include screenMax375 {
    padding: 0;
    margin: 1rem;
  }
}
  
 