.cards-container {
    display: flex;
    max-width: 1240px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    padding: 50px 0;
    gap: 50px;
    border-radius: 25px;
    background-color: #f6f6f6;
    @media screen and (max-width: 375px) {
          row-gap: 20px;
            column-gap: 20px;
          padding: 20px 15px;
    }
}
  
 