@import "./Variables.scss";

.card {
  width: 28%;
  transition: all 0.2s ease-out;
  :hover {
    transform: scale(102%);
    .card-title {
      transform: translateY(1%);
    }
  }
  @include screenMax1240 {
    width: 47%;
  }
  @include screenMax768 {
    width: 100%;
  }
  .card-link {
    display: block;
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 15px;
    cursor: pointer;
    .img-container img {
      width: 100%;
      height: 350px;
      border-radius: 15px;
      object-fit: cover;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    } 
    .card-title {
      bottom: 0;
      height: 150px;
      position: absolute;
      width: 100%;
      background: $color000;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 13%, rgba(0, 212, 255, 0) 70%);
      border-radius: 15px;
      h2 {
        color: $colorFff;
        font-size: 18px;
        font-weight: 600;
        position: absolute;
        bottom: 15%;
        left: 15px;
        right: 15px;
      }
    }
  }
}
  
