@import "./Variables.scss";

.collapses-container {
  width: 85%;
  @include displayFlex;
  @include flexDirectionColumn;
  gap: 1rem;
  margin: 30px 0;
  @include screenMax768 {
    width: 97%;
  }
  @include screenMax375 {
    width: 100%;
    margin: 0;
  }
  .collapse-button {
    @include displayFlex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    font-size: 22px;
    padding: 0 20px;
    text-align: start;
    background-color: $colorFf6060;
    color: $colorFff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    @include screenMax375 {
    height: 30px;
    font-size: 12px;
    }
    .collapse-icon {
      width: 18px;
      @include screenMax375 {
      width: 12px;
        }
    }
  }
  .collapse-content {
    background-color: $colorF6f6f6;
    font-size: 18px;
    padding: 40px;
    border-radius: 0 0 5px 5px;
    position: relative;
    bottom: 5px;
    @include screenMax375 {
      font-size: 12px;
      padding: 20px;
      }
  }
}
  