@import "./Variables.scss";
   
.description-equipements {
  @include displayFlex;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;

  @include screenMax375 {
    margin-top: 20px;
    @include flexDirectionColumn;
    row-gap: 20px;
  }
}
    



















