   .collapse-equipement {
      display: flex;
      width: 50%;

        .collapse-content {
            background-color: #f6f6f6;
            font-size: 18px;
            color: #000;
            border-radius: 0 0 5px 5px;
            bottom: 5px;
          }
  }
    



















