@import "./Variables.scss";

.error-container {
  @include flexContentCenter;
  @include flexDirectionColumn;
  @include screenMax768 {
    margin-top: 50px;
  }
  @include screenMax375 {
    margin-top: 20px;
  }
  .error-title {
  color: $colorFf6060;
  font-weight: bold;
  h1 {
    font-size: 288px;
    @include screenMax768 {
      font-size: 95px;
    }
    }      
  }
  .error-msg {
    color: $colorFf6060;
    font-size: 30px;
    @include screenMax768 {
      font-size: 18px;
    }
    @include screenMax375 {
      font-size: 14px;
    }
  }     
}
.back-link {
  cursor: pointer;
  margin-top: 8rem;
  a {
    color: $color000;
  }
  @include screenMax768 {
    font-size: 14px;
  }
}


  
 