@import "./Variables.scss";
.logo {
  width: 30%;
  justify-content: left;
  img {
    @include displayFlex;
    width: 210px;
    color: $colorFf6060;
    @include screenMax768 {
      width: 145px;
    }
  }
}

  nav {
    @include displayFlex;
    //width: 309px;
    width: 69%;
    justify-content: right;
    column-gap: 57px;
    list-style: none;
    @include screenMax768 {
      column-gap: 30px;
    }
    @include screenMax375 {
      column-gap: 10px;
    }
    a {
      text-decoration: none;
      color: $color000;
      font-size: 24px;
      font-style:normal;
      font-weight: 500;
      line-height: 142.6%;
      @include screenMax768 {
        font-size: 20px;
      }
      @include screenMax375 {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    .active {
      text-decoration: underline;
    }
  }
  
