.host-info {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    .host-name {
        color: #ff6060;
        p {
        display: flex;
        font-size: 18px;
        justify-content: space-evenly;
        }
    }
    img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }
}