@import "./Variables.scss";

.title-location {
  @include displayFlex;
  @include flexDirectionColumn;
  .logement-title {
    color: $colorFf6060;
    font-size: 30px;
    @include screenMax768 {
      font-size: 18px;
    }
  }
  .logement-location {
    margin-top: 5px;
    font-size: 18px;
  }
}