@import "./Variables.scss";

.logement-main {
  @include displayFlex;
  @include flexDirectionColumn;
  width: 100%;
  max-width: 1240px;
  @include screenMax768 {
    margin: 0 20px;
  }
  .logement-content {
    @include displayFlex;
    margin-top: 20px;
    @include screenMax375 {
      @include flexDirectionColumn;
      row-gap: 10px;
    }
    .title-location-tags {
      @include displayFlex;
      @include flexDirectionColumn;
      justify-content: left;
      width: 70%;
      @include screenMax375 {
        width: 100%;
        @include flexDirectionColumn;
      }
    }
    .host-rates {
      @include displayFlex;
      @include flexDirectionColumn;
      justify-content: right;
      width: 30%;
      @include screenMax375 {
        width: 100%;
        height: 33px;
        flex-direction:row-reverse;
        justify-content: space-between;
        align-items: center;
      }
    }

  }
    .collapses-logement {
      @include displayFlex;
      width: 100%;
      justify-content: space-around;
     column-gap: 76px;
      margin: 30px 0;
      @include screenMax768 {
        width: 97%;
      }
      @include screenMax768 {
        width: 100%;
        margin: 0;
        row-gap: 10px;
      }
  
   .collapse-logement, .collapse-equipement {
    @include displayFlex;
      width: 50%;
      @include screenMax375 {
        width: 100%;
      }
      .collapse-button {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 45px;
          font-size: 22px;
          padding: 0 20px;
          text-align: start;
          background-color: $colorFf6060;
          color: $colorFff;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          .collapse-icon {
              width: 18px;
          }
        }
        .collapse-content , .equipement-content {
          background-color: $colorF6f6f6;
          color: $colorFf6060;
          font-size: 18px;
          padding: 40px;
          border-radius: 0 0 5px 5px;
          bottom: 5px;
        }
  }
    
  }


  }