@import "./Variables.scss";

.slide-container {
    position: relative;
  }
  .slide-images{
    @include displayFlex;
    img{
      width: 100%;
      height: 420px;
      border-radius: 15px;
    }
  }

  .slide-controls {
    position: absolute;
    @include displayFlex;
    justify-content: space-between;
    top: 50%;
    width: 100%;
    padding: 0 20px;
  }
  
  .slide-arrow {
    color: $colorFff;
    width: 40px;
    height: 70px;
    opacity: 0.7;
    overflow: visible;
    cursor: pointer;
  }
  
  .slide-counter {
    position: absolute;
    bottom: 0%;
    left: 50%;
    @include displayFlex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 50px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .slide-counter p {
    font-size: 18px;
    font-weight: 600;
    color: $colorFff;
  }
  
  @include screenMax768 {
    .slide-counter {
      display: none;
    }
  }
  
