@import "./Variables.scss";

.logement-stars {
  @include displayFlex;
  justify-content: right;
  gap: 10px;
  .stars {
    @include displayFlex;
    width: 24px;
    height: 24px;
    @include screenMax768 {
      margin-top: 50px;
    }
    @include screenMax375 {
      margin: 0;
      width: 13px;
      height: 13px;
      gap:5px;
    }
  }
}

  
