.logement-stars {
    display: flex;
    gap: 10px;
    .stars {
        display: flex;
        width: 24px;
        height: 24px;
        @media screen and (max-width: 768px ) {
            margin-top: 50px;
        }
    }
}

  
