@import "./Variables.scss";

.logement-stars {
  @include displayFlex;
  gap: 10px;
  .stars {
    @include displayFlex;
    width: 24px;
    height: 24px;
    @include screenMax768 {
      margin-top: 50px;
    }
  }
}

  
