@import "./Variables.scss";

.logement-tags {
  @include displayFlex;
  gap: 1rem;
  .tags {
    width:fit-content;
    height: 25px;
    background-color: $colorFf6060;
    color: $colorFff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    padding: 4px 24px;
    margin-top: 20px;
    @include screenMax768 {
      font-size: 12px;
    }
    @include screenMax375 {
      width:fit-content;
      height: 18px;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
  

  
