@import "./Variables.scss";

.logement-tags {
  display: flex;
  gap: 1rem;
  .tags {
    width: auto;
    height: 25px;
    background-color: $colorFf6060;
    color: $colorFff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    padding: 4px 24px;
    margin-top: 20px;
    @include screenMax768 {
      font-size: 12px;
    }
  }
}
  

  
