// BackGround
$bannerUrl: url('./../assets/images/bannerimage.png');
$bannerUrlAbout: url('./../assets/images/aproposimage.png');
$bgLinearGradient: linear-gradient(hsla(0, 0%, 0%, 0.25), hsla(0, 0%, 0%, 0.25));

// Mixin
@mixin flexContentCenter {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@mixin flexDirectionColumn {
    flex-direction: column;
}

@mixin displayFlex {
    display: flex;
}

@mixin screenMax375 {
    @media screen and (max-width: 375px) {
      @content;
    }
}

@mixin screenMax768 {
    @media screen and (max-width: 768px) {
      @content;
    }
}

@mixin screenMax1240 {
    @media screen and (max-width: 1240px) {
      @content;
    }
}


// Colors
$colorFf6060: #ff6060;
$colorFff: #fff;
$colorF6f6f6:#f6f6f6;
$color000: #000;

